{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

<h1 class="text-center">Привет, меня зовут Ольга:)</h1>
<hr>
<p>В настоящее время я не работаю и учусь на двух курсах Яндекс Практикум параллельно.
    Времени на все критически не хватает &#128532;. Не успеваю смотреть вебинары как минимум...
    Отстала от своей группы на веб-разработке на один спринт, чтоб нагнать тут..
    Там как раз начался React!</p>
<p>Мой первый курс "Веб-разработка"начался в марте этого года. Честно говоря, после фронтенда,
    бэкенд местами раздражает... да и подача материала сильно отличается... Раздражает, что здесь
    так много информации, которую сразу невозможно объять и запомнить и еще тут мало творчества..
    Я все время задаю себе вопрос стоит ли продолжать&#129322;, но останавливаться я не умею&#129322;</p>
<p>Но, все не так плохо, меня морально поддерживают мои коты))&#128008;&#128008; Я попробую разместить
    тут их фото, но не уверена, что его будет видно, потому что папка static не отправляется на GitHub.
    Для этого надо делать не статичную страницу, верно? Не совсем понимаю этот момент со статикой..</p>
<p><a href="https://github.com/Eve982/mesto" target="_blank">Здесь</a> лежит мой последний проект
    на курсе по веб-разработке, если интересно)</p>
<figure class="figure">
    <img src="../../static/img/my_cats.jpeg" class="img-fluid figure-img" alt="Фото моих котов.">
    <figcaption class="figure-caption">А это мои коты:) Бенгала зовут Сэм, абиссинца - Томас.</figcaption>
</figure>

{% endblock content %}